$white: #FFFFFF;
$gray: #d0d0d0;
$border: #e6e6e6;
$black: #000;
$green: rgb(12, 161, 12);
$red: rgb(167, 13, 13);
$dark-mode-back: #19191a;
$dark-mode-text: #e1e3e6;
$dark-mode-pannel: #454647;

$opacity-background: rgba(0, 0, 0, 0.3)