{% extends 'main/layout.html' %}

{% block titile  %}
    Путешествие
{% endblock %}

{% block content %}
<main class="main">
    <section class="addform">

        <div class="addform__wrapper form__wrapper">
            <form class="addform__form" method="post">
                {% csrf_token %}
                {{ form.title }}
                {{ form.price }}
                {{ form.country }}
                {{ form.city }}
                {{ form.full_text }}
                {{ form.data }}
                <span>{{ error }}</span>
                <button type="submit">Создать путешествие</button>
            </form>
        </div>

    </section>
</main>
{% endblock %}