{% extends 'main/layout.html' %}

{% block titile  %}
   Для турагенств
{% endblock %}

{% block content %}
<main class="main">
   <section class="tourses-agenstvo">
   {% if user.is_authenticated %}
      <div class="tourses-agenstvo__add tourses__add">
         <a href="{% url 'addform' %}">Добавить путешествие</a>
         <a href="{% url 'toursAgenstvo' %}">Редактирование и удаление путешествий</a>
      </div>
{% else %}
      <div class="alert">
         <p>Авторизуйтесь чтобы пользоваться полным функионалом.</p>
      </div>
      
{% endif %}
   </section>
</main>
{% endblock %}