{% extends 'main/layout.html' %}

{% block titile  %}
    Главная страница
{% endblock %}

{% block content %}
{%load static%}
    <main class="main">
        <section class="welcome">
            <div class="welcome__wrapper">
                <div class="welcome__border-box">
                    <h1 class="welcome__title">
                        Путешествуй с нами!
                    </h1>
                    <div class="welcome__button-wrapper">
                        <a class="welcome__button" href="{% url 'tours' %}">Начать</a>
                    </div> 
                </div>
            </div>
        </section>

        <section class="our-posibility">
            <div class="our-posibility__wrapper wrapper">
                <div class="our-posibility__headding">
                    <p class="our-posibility__title">С нами можешь</p>
                </div>
                <div class="our-posibility__down-side">
                    <div class="down-side__box">
                        <img src="../../static/main/images/подобрать-тур.jpg" alt="Отдыхать">
                        <p>Отдыхать</p>
                    </div>
                    <div class="down-side__box">
                        <img src="../../static/main/images/лечебный-туризм.jpg" alt="Лечиться">
                        <p>Лечиться</p>
                    </div>
                    <div class="down-side__box">
                        <img src="../../static/main/images/экстримальный-отдых.jpg" alt="Эксперементировать">
                        <p>Эксперементировать</p>
                    </div>
                    <div class="down-side__box">
                        <img src="../../static/main/images/Культурно-познавательный-туризм.jpg" alt="Изучать">
                        <p>Изучать</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
