{% extends 'main/layout.html' %}
{% block titile  %}
    Путешествие-подробнее
{% endblock %}

{%block content%}
<main class="main">
    <section class="all-info-tours">
        <div class="wrapper">
            <div class="tourses__box">
                <p class="tours__headding">{{ articles.title }}</p>
                <p class="tours__mini-info">{{ articles.price}}</p>
                <p class="tours__main-text">{{ articles.full_text }}</p>
                <p class="tours__mini-info">{{ articles.country }} всегда рада видеть вас в {{ articles.city }}</p>
            </div>
        </div>
    </section>
</main>
{%endblock%}