{% extends 'main/layout.html' %}

{% block titile  %}
    Путешествия
{% endblock %}

{% block content %}
    <main class="main">

        <section class="tourses">
            <div class="tourses__wrapper">
                <div class="tourses__list">
                    <form action="{% url 'tours' %}" class="tourses__search search">
                        <label class="search__label" for="search">Поиск</label>
                        <input class="search__input" name="search" type="search" placeholder="Найти путешествие">
                        <button class="search__button" type="submit">Найти</button>
                    </form>
                    {% for el in tourses %}
                    <div class="list__item item">
                        <a href="{{ el.get_absolute_url }}">
                            <div class="item-column">
                                <p class="item__headding">{{ el.title }}</p>
                                <p class="item__mini-info">{{ el.price }}</p>
                                <p class="item__mini-info">Страна: {{ el.country }},г. {{ el.city }}</p>
                                <div class="box-for-button">
                                    <a href="{{ el.get_absolute_url }}" class="item__detail">Подробнее</a>
                                    <a href="tel:9997779977" class="item__phone">Позвонить</a>
                                </div>
                            </div>
                        </a>
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </section>
        
    </main>
{% endblock %}