@use "common/reset";
@use "common/variables";
@use "common/mixins";
@use "common/animation";

*{
    font-family: 'Comfortaa', sans-serif;
}

.dnone{
    display: none ;
}

.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
}

.wrapper{
    display: grid;
    grid-template: 1fr / 1fr minmax(auto , 1440px) 1fr;
    margin: 0 30px;
}

body{
    background-color: #F8F7F7;
}


// header 

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    &__wrapper{
        display: grid;
        grid-template: 1fr/1fr minmax(auto , 300px) minmax(auto , 420px) minmax(auto , 720px) 1fr;
        align-items: center;
        margin: 0 30px;
    }
    &__title{
        grid-column-start: 2;
    }
    &__navigation{
        ul{
            display: flex;
            li {
                a {
                    font-size: 24px;
                    color: black;
                    font-weight: 400;
                    transition: all 0.5s;
                    padding: 10px;
                }
                a:hover {
                    background-color: variables.$white;
                    border-radius: 20px;
                    padding: 10px;
                    border: 1px solid variables.$border;
                }
            }
        }
    }
    &__registration{
        display: flex;
        align-items: flex-end;
        justify-content: end;
        .regisration__link-border{
            background-color: variables.$white;
            border-radius: 20px;
            padding: 10px;
            border: 1px solid variables.$border;

            &:hover {
                background-color:  variables.$dark-mode-pannel;
                color: variables.$dark-mode-text;
            }
        }
        a {
            margin-left: 20px;
            font-size: 24px;
            color: black;
            font-weight: 400;
            transition: all 0.5s;
            padding: 10px;
            &:first-child {
                margin-left: 0px;
            }
        }
        a:hover {
            background-color: variables.$white;
            border-radius: 20px;
            padding: 10px;
            border: 1px solid variables.$border;
        }
    }
    &__logo {
        max-width: 60px;
    }

    &__burger{
        z-index: 3;
        display: none;
        span{
            background-color: black;
            width: 30px;
            height: 2px;
            margin-top: 0;
            transition: 0.4s linear;
        }
        .burger__span{
            margin-top: 10px;
        }
    }
}

@media screen and (max-width:1244px ){
    .header__id{
        display: none !important;
    }
    .header__navigation{
        display: none;
    }
    .header__registration{
        display: none;
    }
    .header__burger{
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        grid-column-start: 4;
    }
}
    

// end heeader

//welcome

.welcome{
    &__wrapper{
        @include mixins.wrapper;
        display: flex;
        justify-content: center;
        background-image: url(../images/travel-wallpaper.jpg);
        background-size:  cover;
    }
    &__border-box{
        padding: 60px;
        h1{
            font-size: 100px;
            text-align: center;
            margin-bottom: 90px;
        }
        a{
            color: variables.$black;
            font-size: 32px;
            background-color: variables.$white;
            border-radius: 20px;
            padding: 10px;
            border: 1px solid variables.$border;
            transition: all 0.5s;
            &:hover {
                background-color:  variables.$dark-mode-pannel;
                color: variables.$dark-mode-text;
            }
        }
    }

    &__button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


// tours html
.main{
    margin-top: 50px;
}

.tourses{
    margin-top: 40px;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
    &__list{
        grid-column-start: 2;
        .list__item{
            border: 2px rgb(187, 187, 187) solid;
            border-radius: 15px;
            margin-bottom: 30px;
            .item__detail{
                margin-top: 20px;
            }
            .item__phone{
                margin-top: 20px;
            }
            .item-column{
                padding: 30px;
                .item__headding{
                    color: #201F4A;
                    font-size: 28px;
                    font-weight: 600;
                }
                .item__mini-info{
                    font-weight: 100;
                    margin-top: 10px;
                }
                .item__detail{
                    color: variables.$black;
                    font-size: 18px;
                    background-color: variables.$white;
                    border-radius: 20px;
                    padding: 10px;
                    border: 1px solid variables.$border;
                    transition: all 0.5s;
                    &:hover {
                        background-color:  variables.$dark-mode-pannel;
                        color: variables.$dark-mode-text;
                    }
                }
                .item__phone{
                    font-size: 16px;
                    color: black;
                    font-weight: 400;
                    transition: all 0.5s;
                    padding: 10px;
                        &:hover {
                    background-color: variables.$white;
                    border-radius: 20px;
                    padding: 10px;
                    border: 1px solid variables.$border;
                    }
                }
            }
        }
    }
    .box-for-button{
        display: flex;
        flex-direction: row;
    }
    &__add{
        grid-column-start: 2;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a{
            max-width: 550px;
            width: 100%;
            text-align: center;
            color: variables.$black;
            font-size: 18px;
            background-color: variables.$white;
            border-radius: 20px;
            padding: 10px;
            border: 1px solid variables.$border;
            transition: all 0.5s;
            &:hover {
                background-color:  variables.$dark-mode-pannel;
                color: variables.$dark-mode-text;
            }
        }
    }

}

// otdelnay tours
.all-info-tours{
    margin-top: 80px;
    .tourses__box{
        grid-column-start: 2;
        color: #201F4A;
        .tours__headding{
            font-size: 35px;
            font-weight: 600;
        }
        .tours__mini-info{
            font-size: 20px;
            font-weight: 300;
            margin-top: 30px;
        }
        .tours__main-text{
            font-size: 15px;
            font-weight: 500;
            margin-top: 30px;
        }
    }
}

// Наши возможности

.our-posibility{
    padding: 30px 0;
    margin-top: 50px;
    &__headding{
        grid-column-start: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
    }
    &__down-side{
        margin-top: 30px;
        display: grid;
        grid-template: repeat(auto-fill , minmax(auto , 600px)) / repeat(auto-fill , minmax(auto , 711px));
        grid-gap: 18px;
        grid-column-start: 2;
        justify-content: center;
        .down-side__box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            img{
                width: 90%;
                height: 90%;
            }
            p{
                font-size: 50px;
                text-align: center;
            }
        }
    }
}

// dobavit vacansiu
.footer{
    padding: 20px 0;
    p{
        color: variables.$black;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 1440px;
        margin: 0 auto;
    }
}

.header__id{
    display: flex;
    justify-content: flex-end;
    .header__logout{
        font-size: 24px;
        color: black;
        font-weight: 400;
        transition: all 0.5s;
        background-color: variables.$white;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid variables.$border;

        &:hover {
            background-color:  variables.$dark-mode-pannel;
            color: variables.$dark-mode-text;
        }
    }
    .header__user{
        font-size: 24px;
        color: black;
        font-weight: 400;
        transition: all 0.5s;
        padding: 10px;
    }
}

.tourses-agenstvo{
    margin-top: 25px;
    .alert{
        display: flex;
        max-width: 1440px;
        justify-content: center;
        margin: 0 auto;
        padding: 0 10px;
    }
    .tourses-agenstvo__add{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: center;
    }
}

.helptext{
    display: none;
}

.form__wrapper{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    flex-direction: column;
    h1{
        font-size: 26px;
        font-weight: 600;
    }
    form{
        display: flex;
        flex-direction: column;
        min-width: 500px;
        margin: 0 auto;
        button{
            margin-top: 10px;
            color: variables.$black;
            font-size: 18px;
            background-color: variables.$white;
            border-radius: 20px;
            padding: 10px;
            border: 1px solid variables.$border;
            transition: all 0.5s;
            &:hover {
                background-color:  variables.$dark-mode-pannel;
                color: variables.$dark-mode-text;
            }
        }
        label{
            margin-top: 10px;
            font-size: 16px;
        }
        input{
            padding: 12px;
            margin-top: 15px;
        }
    }
}

textarea{
    margin-top: 15px;
    padding: 12px;
}

.tourses-agenstvo__add{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tourses__search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    .search__input{
        min-width: 600px;
        padding: 14px;
    }
    .search__label{
        display: none;
    }
    .search__button{
        padding: 14px 14px;
    }
}



@media screen and (min-width:1024px) {
    footer{
        p{
            font-size: 23px;
        }
    }
}

@media screen and (max-width:800px) {
    .item__headding{
        font-size: 20px !important;
    }
    .search__input{
        min-width: 300px !important;
    }
    .form__wrapper{
        form{
            min-width: 350px ;
        }
    }
    .tourses__add{
        a{
            font-size: 20px;
        }
    }
    .our-posibility{
        margin-top: 60px;
    }
    .welcome{
        margin-top: 40px;
    }
    .main{
        margin-top: 20px;
    }
    .welcome__border-box{
        h1{
            font-size: 48px;
        }
    }
    .our-posibility__headding{
        p{
            font-size: 48px;
        }
    }
    .welcome__border-box{
        a{
            font-size: 25px;
        }
    }
    .our-posibility__down-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        .down-side__box{
            margin-top: 10px;
            img{
                width: 300px;
                height: 200px;
            }
            p{
                font-size: 22px !important;
            }
        }
    }
    .welcome__border-box{
        padding: 60px;
    }
    .welcome__title{
        margin-bottom: 50px !important;
    }
}

@media screen and (max-width:550px){
    .search__input{
        min-width: 200px !important;
    }
    .form__wrapper{
        form{
            min-width: 300px ;
            button{
                margin-top: 30px;
            }
            label{
                margin-top: 8px;
                font-size: 12px;
            }
            input{
                padding: 12px;
                margin-top: 12px;
            }
        }
        h1{
            font-size: 19px;
            font-weight: 600;
        }
    }
    .tourses__add{
        a{
            font-size: 13px;
        }
    }
    .item__phone{
        padding: 10px 35px !important;
    }
    .item-column{
        padding: 20px !important;
    }
    .box-for-button{
        flex-direction: column !important;
    }
    .item__phone{
        margin-left: 0 !important;
    }
    .logo{
        width: 200px;
    }

    .header__burger{
        span{
            width: 30px;
            height: 2px;
        }
    }
    .welcome__border-box{
        padding: 40px;
        border-radius: 60px;
    }
    .welcome__title{
        margin-bottom: 30px !important;
        font-size: 38px !important;
    }
    .welcome__button{
        font-size: 18px !important;
        padding: 5px 40px !important;
    }
    .our-posibility__title{
        font-size: 38px !important;
    }
    .welcome{
        margin-top: 30px;
    }
}


@media screen and (max-width:400px){
    .search__input{
        min-width: 100% !important;
    }
    .item-column{
        padding: 15px !important;
    }
    .burger-menu__link{
        font-size: 15px !important;
    }
    .burger-menu__item:first-child{
        margin-top: 30px !important;
    }
    .our-posibility__title{
        font-size: 30px !important;
    }
    .down-side__box{
        margin-top: 10px;
        img{
            width: 230px !important;
            height: 140px !important;
        }
    }    
    .our-posibility{
        margin-top: 30px;
    }
    .welcome__border-box{
        padding: 20px;
        border-radius: 40px;
    }
    .welcome__title{
        font-size: 27px !important;
    }
    .welcome__button{
        padding: 5px 30px !important;
    }
    .our-posibility__down-side{
        margin-top: 15px;
    }
    .logo{
        width: 180px;
    }
    .header__burger{
        span{
            width: 30px;
            height: 2px;
        }
    }
}
